.auth-page-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 83px);

  .left-column {
    background-size: cover;
  }

  .right-column {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $brave-dark;
    @include input-element;

    button {
      @include base-btn;
      margin-top: 1.5vh;
      border-radius: 15px;
    }
  }
}
