body {
  margin: 0px;
  overflow-x: hidden;
  font-weight: normal;
  font-family: "Fira Sans", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;

  background-color: $brave;
  color: white;
  // padding-left: 5vw;
  // padding-right: 5vw;
}

a {
  color: white;
  text-decoration: none;
}

.containter {
  display: grid;
  grid-template-columns: 1fr;
}
