body {
  margin: 0px;
  overflow-x: hidden;
  font-weight: normal;
  font-family: "Fira Sans", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;

  background-color: rgb(49, 52, 66);
  color: white;
}
a {
  color: white;
}
