.blog-form-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  padding: 42px;

  @include input-element();
  @include textarea();
  .two-column {
    padding-bottom: 4vh;
    place-content: space-evenly;
  }
}
