.contact-page-wrapper {
  width: 100vw;
  height: calc(100vh - 83px);
  display: grid;
  gap: 5vw 5vh;
  grid-template-columns: 1fr 1fr;
  .contact-image {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
  .contact-content-wrapper {
    border-right: 2vw solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    .row {
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        padding-left: 5px;
        font-size: small;
      }
      .svg-inline--fa {
        font-size: large;
        color: $lemon;
      }
    }
  }
}
