@mixin base-btn {
  cursor: pointer;
  height: 42px;
  font-size: 1em;
  font-weight: 500;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
  background-color: $lemon;
  color: black;
  border-radius: 40px;
  vertical-align: middle;

  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    background-color: $orange;
  }
}

@mixin input-element {
  input {
    font-family: "Fira Sans", sans-serif;
    color: white;
    padding: 5px 0px;
    width: 100%;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid white;
    background-color: transparent;
    transition: 0.5s all ease-in-out;
    font-size: 1.1em;
    padding-top: 22px;

    &:focus {
      outline: none;
      border-bottom: 1px solid $lemon;
    }
  }
}

@mixin textarea {
  textarea {
    font-family: "Fira Sans", sans-serif;
    color: white;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid white;
    background-color: transparent;
    font-size: 1rem;
    height: 10vh;
    outline: none;
    width: 100%;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 5vh;

    &:focus {
      outline: none;
      border-bottom: 1px solid $lemon;
    }
  }
}
