.portfolio-form-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  padding: 42px;

  @include input-element();
  @include textarea();

  .MuiSvgIcon-root,
  .muiSelect-icon {
    color: white;
  }

  .text-area-wrapper {
    padding-bottom: 50px;
  }

  .img-uploaders {
    padding-bottom: 22px;
    align-items: center;

    .image-removal-link {
      align-items: center;
      justify-self: center;
      .btn {
        padding: 6px 20px;
        color: white;
      }
    }

    .portfolio-manager-image-wrapper {
      display: grid;
      grid-template-rows: 2fr 0.2fr;
      gap: 10px;
      border: solid 3px white;
      padding: 1vw;
      border-radius: 20px;
      img {
        border-radius: 10px;
        width: 100%;
        object-fit: cover;
      }
    }

    .dz-clickable {
      width: 15vw;
    }
  }

  .submit {
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .dz-clickable {
    background-color: $brave;
    border: 2px solid white;
  }

  .dz-remove {
    background-color: $brave;
  }

  .dz-preview.dz-image-preview {
    background-color: $brave;
  }
}

.MuiMenu-list {
  background-color: $brave;
}
