.manager-container {
  display: grid;
  grid-template-columns: 3fr 1fr;

  .form {
    height: calc(100vh - 83px);
    padding-right: 5vw;
    overflow-y: scroll;
    scrollbar-width: none;

    ::-webkit-scrollbar {
      display: none;
    }
  }

  .preview {
    background-color: $brave-dark;
    border-top-left-radius: 30px;
  }
}
