.portfolio-form-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  padding: 42px;

  @include input-element();
  @include textarea();

  .MuiSvgIcon-root,
  .muiSelect-icon {
    color: white;
  }

  .text-area-wrapper {
    padding-bottom: 50px;
  }

  .img-uploaders {
    padding-bottom: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .portfolio-manager-image-wrapper {
      img {
        width: 90%;
        height: fit-content;
        object-fit: cover;
        border-radius: 10px;
      }
    }

    .dz-clickable {
      width: 15vw;
    }
  }

  .submit {
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .dz-clickable {
    background-color: $brave;
    border: 2px solid white;
  }

  .dz-remove {
    background-color: $brave;
  }

  .dz-preview.dz-image-preview {
    background-color: $brave;
  }
}

.MuiMenu-list {
  background-color: $brave;
}
