.manager-container {
  display: grid;
  grid-template-columns: 3fr 1.25fr;

  .form {
    height: calc(100vh - 83px);
    padding-right: 2vw;
    scrollbar-width: 0px;
    overflow-y: scroll;
  }

  .preview {
    background-color: $brave-dark;
    border-top-left-radius: 30px;
  }
}
