.portfolio-form-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  padding: 42px;

  @include input-element();
  @include textarea();

  .additional-info {
    padding-bottom: 15px;
  }

  .text-area-wrapper {
    padding-bottom: 50px;
  }
  //   Select {
  //     font-family: "Fira Sans", sans-serif;
  //     color: white;
  //     padding: 5px 0px;
  //     width: 100%;
  //     border: 1px solid white;
  //     background: $brave;
  //     transition: 0.5s all ease-in-out;
  //     font-size: 1em;
  //     margin-bottom: 21px;
  //     border-radius: 5px;
  //     -webkit-appearance: none;
  //     // -moz-appearance: none;
  //     // appearance: none;
  //     Paper {
  //       background-color: $brave;
  //     }
  //   }
}
