$brave: rgb(49, 52, 66);
$brave-dark: rgb(35, 37, 47);
$primary-blue: rgb(59, 130, 246);
$primary-blue-dark: rgb(37, 99, 235);
$accent-blue: rgb(147, 197, 253);
$light-grey: rgb(156, 163, 175);
$medium-grey: rgb(107, 114, 128);
$dark-grey: rgb(75, 85, 99);
